@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}

footer {
  margin-top: auto;
}

.loader {
  border-top-color: #3498db;
  animation: spin 1s infinite linear;
}

.venueByIdImg {
  height: 40rem;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.custom-calendar {
  width: 100% !important;
  max-width: 100% !important;
  background: white;
  border: 1px solid #a0a096;

  line-height: 1.125em;
}

.booked {
  background-color: #ffdddd !important;
  color: #ff0000 !important;
}

.booked.react-calendar__tile {
  pointer-events: none;
}

@media (max-width: 768px) {
  footer {
    padding: 20px;
    text-align: center;
  }

  .venueByIdImg {
    height: 25rem;
  }
}
